:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 1.4rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.first-cards {
  display: flex;
  gap: 12rem;
  justify-content: space-evenly;
  margin: 0 45rem;
}

.first-card {
  text-align: left;
}

.first-card > p {
  width: 30rem;
  height: 12rem;
  background-color: black;
  border-radius: 2rem;
  margin: 2rem 0;
  padding: 1rem;
  color: white;
}

.triangle {
  position: absolute;
  top: 15.9rem;
  left: 61.8rem;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;

  border-top: 1rem solid black;
}

.first-card > div {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.first-card img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}

.second-card {
  margin: 2rem 0;
  margin-left: -20rem;
  padding: 1rem;
  width: 30rem;
  border: 0.2rem solid black;
  border-radius: 2rem;
}

.second-card img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}

.second-card > div {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  align-items: center;
}

.second {
  display: flex;
  gap: 3rem;
  margin: 2rem 60rem;
}

.second img {
  width: 20rem;
  height: 20rem;
  border-radius: 2rem;
}

.role {
  color: gray;
}

.third-card {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  justify-content: space-between;
  padding: 1rem;
  background-color: black;
  border-radius: 2rem;
  color: white;
  width: 50rem;
  height: 18rem;
}

.third {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border: 0.1rem solid black;
  width: 72rem;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  border-radius: 2rem;
  padding: 1rem;
}

.third p:first-child {
  width: 50rem;
}

.third div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blurred-img {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin: 0 1rem;
}

#central-img {
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
}

.third p:last-child {
  font-size: 2rem;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
